<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freakimono | Magical creatures that kick ass!</title>
    {{!-- Favicon --}}
    <link rel="icon" type="image/x-icon" href="/assets/images/pet.ico" />

    {{!-- Bootstrap --}}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous" />

    {{!-- NES.css --}}
    <link href="https://unpkg.com/nes.css@2.3.0/css/nes.min.css" rel="stylesheet" />

    {{!-- Adobe Fonts DeLittle Chromatic --}}
    <link rel="stylesheet" href="https://use.typekit.net/pyf3ywf.css" />

    {{!-- Our Own CSS --}}
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />

</head>

<body>

    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Freakimono</a>
            {{!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> --}}
            <div class="text-right" id="navbarNavAltMarkup">
                {{#if isLoggedIn}}
                <button class="nes-btn is-success" id="signOutBtn" href="api/signout">Sign Out</button>
                {{/if}}
            </div>
        </div>
    </nav>

    <main id="main">
        {{{body}}}
    </main>

    {{!-- bootstrap --}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous">
        </script>
    {{!-- jQuery --}}
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    {{!-- login/out listeners --}}
    <script src="/assets/js/logInOut.js"></script>
    {{!--
    <script src="moment.js"></script> --}}
    {{!--
    <script>
        moment().format();
    </script> --}}

</body>

</html>