{{!-- Nolan will be working on this to get socketIO testing--}}
<div id="socket-alert" class="alert alert-primary" role="alert">
</div>

{{!-- Bootstrap testing buttons --}}
<button id="yass-btn" type="button" class="btn-lg btn-success">Yass</button>
<button id="ew-btn" type="button" class="btn-lg btn-danger">Ewww</button>



{{!-- Socket Scripts --}}
<script src="/socket.io/socket.io.js"></script>

{{!-- Custon Battle Script --}}
<script src="/assets/js/battle.js"></script>