{{!HTML Boilerplate}}
<div class="d-flex flex-column align-items-center">
  <div id="character-container" class="container-xl">
    <div class="h-100 py-3 px-1 row">
      <div class="container w-100 h-100" id = "battle-message">
        {{!-- <p>The gauntlet has been thrown!Time to battle it out in the arena.Click
          the start button to commence bloodshed!</p> --}}
      </div>

      <div id="me-div" class="character-div h-100 col-5 d-flex flex-column justify-content-between align-items-start">

        <div class="hp-div w-100 h-25">
          <div class="w-100 col-5 d-flex flex-column justify-content-start align-items-start">
            <p id="mypettext" class="hplabel w-100"></p>
            <progress id="my-hp" class="health-bar nes-progress is-primary w-100" value="600" max="600"></progress>
          </div>
        </div>

        <div class="w-100 h-75 d-flex flex-column justify-content-end align-items-start">
          <div class="nes-balloon from-left">
            <p id="me-talk">I'm good!</p>
          </div>
          <img id="me-img" class="character-img" src="/assets/images/battle/fullHeart.png" alt="characterImg" />
        </div>

      </div>

      <div id="sequence-div" class="col-2 d-flex justify-content-center align-items-center">
      </div>

      <div id="enemy-div" class="character-div h-100 col-5 d-flex flex-column justify-content-between align-items-end">

        <div class="hp-div w-100 h-25">
          <div class="w-100 col-5 d-flex flex-column justify-content-start align-items-end">
            <p id="myenemytext" class="hplabel"></p>
            <progress id="enemy-hp" class="health-bar nes-progress is-primary" value="600" max="600"></progress>
          </div>
        </div>

        <div class="w-100 h-75 d-flex flex-column justify-content-end align-items-end">
          <div class="nes-balloon from-right">
            <p id="enemy-talk">I'm bad!</p>
          </div>
          <img id="enemy-img" class="character-img" src="/assets/images/battle/halfHeart.png" alt="enemyImg" />
        </div>
      </div>
    </div>

  </div>

  <div id="gamingButtons" class="mt-5">
    <div class="container d-flex justify-content-center align-items-center">
      <button type="button" data-description="l" class="m-1 nes-btn is-warning battle-button"><img
          src="/assets/images/battle/lArrow.svg" /></button>

      <div class="d-flex flex-column align-items-center">
        <button type="button" data-description="u" class="m-1 nes-btn is-primary battle-button"><img
            src="/assets/images/battle/uArrow.svg" /></button>
        <button type="button" data-description="d" class="m-1 nes-btn is-success battle-button"><img
            src="/assets/images/battle/dArrow.svg" /></button>
      </div>

      <button type="button" data-description="r" class="m-1 nes-btn is-error battle-button"><img
          src="/assets/images/battle/rArrow.svg" /></button>
    </div>
  </div>

  <div id="start-div">
    <div class="container d-flex flex-column align-items-center justify-content-center mt-3">

      <div class="nes-container is-rounded is-centered" id="battle-message-text">
        <p>The gauntlet has been thrown! Time to battle it out in the arena. Click the start button to commence bloodshed!</p>
      </div>

      <div class="container justify-content-center" id="battleBtnContainer">
        <button type="button" class="m-2 nes-btn is-success text-dark fw-bold start-btn">START</button>
        <button type="button" class="m-2 nes-btn is-warning text-dark fw-bold" data-bs-toggle="modal"
          data-bs-target="#instructions-modal">HELP</button>
      </div>

    </div>

  </div>

  <div class="nes-container is-centered is-rounded" id="waiting-div">
    <p>Awaiting an opponent... Looks like everyone might be too a-scared to put up their dukes. Wanna head back to
      the playpen?</p>
      <a href="/playpen" title="Back to safety!" alt="Back to safety!"><button type="button" class="m-2 nes-btn is-success" >Retreat!</button></a>
  </div>

</div>

{{! Boostrap Modal for instructions }}
<div id="instructions-modal" class="modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div id="modal-wrapper" class="modal-content">
      <div class="modal-header d-flex justify-content-center">
        <h2 class="modal-title fs-1">How to Play</h2>
      </div>
      <div class="modal-body">

        <div class="lists">
          <ul class="nes-list is-circle">
            <li class="nes-text">Press start to battle an enemy.</li>
            <li>Block enemy attacks by mimicking the arrow sequence correctly using the arrow buttons.</li>
            <li>If you lose, you lose a heart.</li>
            <li>If you win, your little buddy will be
              happy!</li>
          </ul>
        </div>

        <p class="fs-5">
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn nes-btn is-success" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{{! Socket Scripts }}
<script src="/socket.io/socket.io.js"></script>

{{! confetti CDN }}
<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script>

{{! Custon Battle Script }}

<script src="/assets/lib/Battle.js"></script>
<script src="/assets/js/battle.js"></script>