{{!--HTML Boilerplate--}}
<div id="character-container" class="row nes-container is-rounded d-flex justify-content-between">

    <div id="me-div" class="col-5 d-flex flex-column align-items-start">
        <progress id="my-hp" class="nes-progress is-primary" value="600" max="600"></progress>
        <div class="d-flex">
            <img id="me-img" src="/assets/images/battle/fullHeart.png" alt="heart" style="width: 30%; height: 30%;">
            <div class="nes-balloon from-left" style="display: none;">
                <p id="me-talk">I'm good!</p>
            </div>
        </div>
    </div>

    <div id="sequence-div" class="col-2 d-flex align-items-center">
    </div>

    <div id="enemy-div" class="col-5 d-flex flex-column align-items-end">
        <progress id="enemy-hp" class="nes-progress is-primary" value="600" max="600"
            style="transform: rotate(180deg);"></progress>
        <div id="character-div" class="d-flex">
            <div class="nes-balloon from-right" style="display: none;">
                <p id="enemy-talk">I'm bad!</p>
            </div>
            <img id="enemy-img" src="/assets/images/battle/halfHeart.png" alt="half heart"
                style="width: 30%; height: 30%;">
        </div>
    </div>

</div>


<div id="gamingButtons" style="display: none;">
    <button type="button" data-description='u' class="nes-btn is-primary battle-button" style="width: 50px; height:40px"><img src="/assets/images/battle/uArrow.svg"></button>
    <button type="button" data-description='d' class="nes-btn is-success battle-button"style="width: 50px; height:40px"><img src="/assets/images/battle/dArrow.svg"></button>
    <button type="button" data-description='l' class="nes-btn is-warning battle-button"style="width: 50px; height:40px"><img src="/assets/images/battle/lArrow.svg"></button>
    <button type="button" data-description='r' class="nes-btn is-error battle-button"style="width: 50px; height:40px"><img src="/assets/images/battle/rArrow.svg"></button>
</div>
<div id="start-div" style="display: none;">
    <button type="button" class="nes-btn is-success start-btn">Start</button>
</div>

{{!-- Socket Scripts --}}
<script src="/socket.io/socket.io.js"></script>

{{!-- Custon Battle Script --}}

<script src="/assets/lib/Battle.js"></script>
<script src="/assets/js/battle.js"></script>