<form>
    <div class="mb-3">
        <label for="signinEmailInput" class="form-label">Email</label>
        <input type="text" class="form-control" id="signinEmailInput" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">Please enter your email address.</div>
    </div>
    <div class="mb-3">
        <label for="pwInput" class="form-label">Password</label>
        <input type="password" class="form-control" id="pwInput">
    </div>
    <button type="submit" class="btn btn-primary" id="signinBtn">Visit your pet!</button>

    <p id="signup">"Dont have an account?<a class="nav-link signupPage" aria-current="page" href="/signup"></a> Sign up
        here!</a>"</p>
</form>

<script src="/assets/js/app.js"></script>