<form>
    <div class="mb-3">
        <label for="signInEmailInput" class="form-label">Email</label>
        <input type="text" class="form-control" id="signInEmailInput" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">Please enter your email address.</div>
    </div>
    <div class="mb-3">
        <label for="signInPasswordInput" class="form-label">Password</label>
        <input type="password" class="form-control" id="signInPasswordInput">
    </div>
    <button type="submit" class="btn btn-primary" id="signinBtn">Visit your pet!</button>

    <p id="signup">Dont have an account?
        <a id="signUpHereBtn" href="/signup">Make your pet here!</a>
    </p>
</form>