<div class="backgroundGraphic"></div>


{{!-- served for the environment --}}
{{!-- canvas for UI geraphic feed, clean-up buttons --}}
{{!-- separate JS file for that page --}}
{{!-- --}}

<canvas id="playpen" height="400" width="600" style="border:1px solid #d3d3d3;"></canvas>

<div id="controlBtns">
    <button id="feedBtn">feed</button>
    <button id="wakeBtn">wake</button>
    <button id="TLCBtn">TLC</button>
    <button id="cleanPoopBtn">clean poop</button>
    <button id="battleBtn">battle</button>
</div>






<script src="/assets/js/playpenCanvas.js"></script>