<section class="col-8 offset-2 align-content-center" id="canvasPage">
    <canvas class="col-8 offset-2 align-content-center" id="petCanvas" width="585" height="329" style="background-color: #7b00ff;"></canvas>
    {{!-- <div id="sequence-div" style="width: 300px; height: 300px;"></div> --}}

    <div class="col d-flex justify-content-center align-items-center" id="careButtons">
        {{!-- <button type="button" id="wakeBtn" data-description='wake' class="nes-btn is-secondary care-button">Wake
            up</button> --}}
        <button type="button" id="feedBtn" data-description='feed' class="nes-btn nes-pointer is-success care-button">Feed</button>
        <button type="button" id="medicineBtn" data-description='medicine'
            class="nes-btn nes-pointer is-primary care-button">Medicate</button>
        <button type="button" id="cleanBtn" data-description='clean' class="nes-btn nes-pointer is-warning care-button">Clean
            Poop</button>
    </div>

    <div class="col d-flex justify-content-center align-items-center" id="battleButtons">
        <button type="button" id="startBattleBtn" data-description='battleStart'
            class="nes-btn is-error is-danger care-button">⚔️ Battle Another Critter ⚔️</button>
    </div>
</section>

{{!-- JS file for feed pet, etc. --}}
<script src="/assets/js/playpenCanvas.js"></script>
<script src="/assets/lib/Pet.js"></script>
<script src="/assets/lib/Creatures.js"></script>
<script src="/assets/js/playpen.js"></script>
<script src="/assets/js/petCare.js"></script>