<form class="signupForm">
    {{!-- Option commented out to add the user's name in the future. --}}
    {{!-- <div class="form-group">
        <label for="signUpNameInput">Name</label>
        <input type="text" class="form-control" id="signUpNameInput" placeholder="Name">
    </div> --}}
    <div class="form-group">
        <label for="signUpEmailInput">Email address</label>
        <input type="email" class="form-control" id="signUpEmailInput" aria-describedby="emailHelp"
            placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="signUpPasswordInput">Password</label>
        <input type="password" class="form-control" id="signUpPasswordInput" placeholder="Password">
        <small id="passwordHelp" class="form-text text-muted">Please make a password greater than 6 characters
            long.</small>
    </div>
    <div class="form-group">
        <label for="signUpPasswordConfirmInput">Confirm Your Password</label>
        <input type="password" class="form-control" id="signUpPasswordConfirmInput" placeholder="Password Confirm">
    </div>
    <button id="signUpBtn" type="submit" class="btn btn-primary">Submit</button>
</form>

<script src="/assets/js/signUp.js"></script>