:root {
    --light-green: #63C561;
    --dark-green: #35A433;
    --pink: #E92A9C;
    --maroon: #BF0073;
    --light-gray: #838282;
    --dark-gray: #4F4F4F;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('/assets/images/bg-meadow.jpg');
    background-size: cover;
}

.navbar {
    border-bottom: 5px solid var(--dark-gray);
    background-image: linear-gradient(to right,
            #fff 40%,
            var(--light-green),
            var(--pink));
}

.navbar-brand {
    font-family: strumpf-std-contour, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}

#navbar-brand a:link,
a:visited,
a:hover {
    text-decoration: none;
}

#signInForm button,
#signupForm button,
#signOutBtn,
#retreatBtn,
#createPetForm button {
    margin: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

#signOutBtn {
    margin-right: 10px;
}

#header-freak {
    font-family: strumpf-std-contour, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
}

#main {
    padding-top: 5vh;
    padding-bottom: 5vh;
}

#careButtons button,
#battleButtons button {
    margin: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

#canvasContainer {
    /* display: flex;
    justify-content: center; */
    width: 60vw;
    height: 34vw;
}

/* #petMoveCanvas {
    position: absolute;
} */

.btn {
    color: #fff;
    background-color: var(--maroon);
}

.btn:hover {
    color: #fff;
    background-color: var(--dark-green);
}

.nes-pointer {
    cursor: pointer;
}